body {
    font-family: "Cambria", Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
a:visited { 
    text-decoration: none; 
    color: orange; 
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
.left-part {
    background-color: #3cabb7;
    padding: 2rem;
    min-height: 102.65vh;
    width: 30%; 
    float: left;
    box-sizing: border-box;
}
.left-part header {
    background-color: #3cabb7;
    color: #695b3d;
    text-align: center;
    padding: 0.7rem 0;
}
.left-part .picture{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3px;
}
.left-part .picture img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}
.personal-detail h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.personal-detail p {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}
.contact-info h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.contact-info p {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.right-part {
    min-height: 100vh;
    background-color: #536263;
    width: 70%; 
    float: left;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-bottom: 0.5rem;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

.section-divider {
    border-bottom: 1px solid #ddd;
    margin: 2rem 0;
}